.menu-content {
  padding: 2rem;
  background-color: #FFB200;
}

section {
  margin-bottom: 3rem;
}

section h2 {
  margin-bottom: 1rem;
  border-bottom: 2px solid #ccc;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 0.5rem;
}


